<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product Name</key>
	<string>mov2gif</string>
	<key>Greetings</key>
	<string>Рады приветствовать!</string>
	<key>Have a great time</key>
	<string>Не скучного времяпрепровождения</string>
	<key>Selfie</key>
	<string>Себяшка</string>
	<key>Message: Dark Mode forced</key>
	<string>Режим подсветки изменен</string>
	<key>Message: Language forced</key>
	<string>Язык переключен</string>
	<key>DarkMode: Auto</key>
	<string>Среда</string>
	<key>DarkMode: On</key>
	<string>Темная</string>
	<key>DarkMode: Off</key>
	<string>Светлая</string>
	<key>Language: System</key>
	<string>Среда</string>
	<key>Language: Russian</key>
	<string>Русский</string>
	<key>Language: English</key>
	<string>Английский</string>
</dict>
</plist>
