<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product Name</key>
	<string>mov2gif</string>
	<key>Greetings</key>
	<string>Hello world!</string>
	<key>Have a great time</key>
	<string>Have a great time</string>
	<key>Selfie</key>
	<string>Selfie</string>
	<key>Message: Dark Mode forced</key>
	<string>Dark Mode forced</string>
	<key>Message: Language forced</key>
	<string>Language forced</string>
	<key>DarkMode: Auto</key>
	<string>System</string>
	<key>DarkMode: On</key>
	<string>Dark</string>
	<key>DarkMode: Off</key>
	<string>Light</string>
	<key>Language: System</key>
	<string>System</string>
	<key>Language: Russian</key>
	<string>Russian</string>
	<key>Language: English</key>
	<string>English</string>
</dict>
</plist>
